*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 5px;
}
.size-6{
    width: 35px;
    height: 35px;
    color: rgb(135, 81, 189);
}
.size-5{
    width: 35px;
    height: 35px;
    color: rgb(135, 81, 189);
}
.main{
    width: 38%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border: 4px solid #2e3b4b;
    color: white;
}
body{
    background-color: #212A35;
    color: white;
}
.box{
    background-color: #2e3b4b;
    padding: 20px 46px;
    border-top: 5px solid background: linear-gradient(to right ,#A430FF,#F318AD,#FF2171);;
}
.block1 h1{
    font-weight: 600;
}
.block1{
    text-align: end;
    padding: 20px 40px;
}
.block1 p{
    color: gray;
}
.block2{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    margin-left: -200px;
}
.block2 button{
    background-color: #2e3b4b;
    color: rgb(135, 80, 190);
    border: 2px solid rgb(135, 80, 190);
    padding: 1px 12px;
    border-radius: 50px;
}
.btn-gray{
    background-color: #394657;
    color: white;
    width: 60px;
    height: 25px;
}
.btn-black{
    background-color: #212A35;
    color: white;
}
.btn-pink{
    background-color: #6344D4;
    color: white;
}
.btn-gradient{
    background-color: #806a91;
    color: white;
}
.buttons{
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: 18px;
}
.btn{
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: 18px;
    background: linear-gradient(to right ,#A430FF,#F318AD,#FF2171);
}
.btn-zero{
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: 18px;
}
.btn-negative{
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: 18px;
}
.btn-minus{
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: 18px;
}
.btn-plus{
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: 18px;
}
.btn-multiplay{
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: 18px;
}
.btn-divide{
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: 18px;
}
.btn-module{
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: 18px;
}
.btn-scope{
    width: 40px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: 18px;
}
.btn-scope1{
    width: 40px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: 18px;
}
.btn-dot{
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: 18px;
}
.img{
    width: 150px;
    height: 150px;
}
.box1{
   background-color: #2e3b4b;
   color: white;
   width: 110px;
   height: 110px;
   border: none;
   border-radius: 15px;
   margin-left: 580px;
   margin-top: 200px;
   padding: 5px;
   box-shadow: 1px 1px 7px 10px rgb(22, 13, 7);
}
.box1:hover{
    background-color: #faf7f7;
    width: 115px;
    height: 115px;
    border-radius: 5px;
    padding: none;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.box2{
    display: flex;
    justify-content: space-around;
}
.box3{
    display: flex;
    justify-content: space-around;
}
.one{
    background-color: #394657;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 10px 3px;
}
/* .one:hover{
    background-color: #806a91;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 15px 13px;
} */
.two{
    background-color: purple;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 10px 3px;
}
/* .two:hover{
    background-color: rgb(241, 111, 241);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 15px 13px;
} */
.pMath{
    color: gray;
}
.pMath:hover{
    cursor: pointer;
}
.evall:hover{
    cursor: pointer;
}
.evalll:hover{
    cursor: pointer;
}
.size-5:hover{
    cursor: pointer;
}
.size-6:hover{
    cursor: pointer;
}